

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: antiquewhite;
    font-family: "Pacifico", serif;
}
span{
    background: url("https://cdn2.iconfinder.com/data/icons/free-1/128/Love__heart_like-256.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}
@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -500%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}